body {
  background-image: url(assets/images/kemo-sahab-4V0tz5FEvTc-unsplash.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: 'Old Standard TT', serif;
  color: aliceblue;
}

p {
  font-family: 'Old Standard TT', serif;
}