<div class="container">
    <table class="table">
    <thead>
        <tr>
            <th class="text-white fw-light" scope="col">Product</th>
            <th class="text-white fw-light" scope="col">Price</th>
        </tr>
    </thead>
    <tbody class="cart-item" *ngFor="let val of items">
        <tr>
            <td class="fw-light text-white">{{ val.destination }}</td>
            <td class="fw-light text-white">{{ val.price }} €</td>
        </tr>
    </tbody>
</table>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)" v>
    <div>
        <label for="name">Name:</label>
        <input id="name" type="text" formControlName="name">
    </div>
    <div>
        <label for="address">Address:</label>
        <input id="address" type="text" formControlName="address">
    </div>
    <button class="button" type="submit">Purchase</button>
</form>
</div>