.card {
    background-color: transparent;
    border: none;
    box-shadow: 1px 1px 5px 5px rgba(224, 224, 224, 0.363);
    padding: 0;
    transition: transform .2s;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 15px 15px rgba(224, 224, 224, 0.363);
}